# Aurora Panel

# Server
PUBLIC_APP_URL=http://localhost:5173
PORT=3000
BODY_SIZE_LIMIT=Infinity

# Database
DATABASE_URL=file:./data/aurora.db

# Auth
AUTH_SECRET=change-me-to-a-random-string-at-least-32-chars

# Daemon
DAEMON_JWT_SECRET=change-me-to-another-random-string

# Modrinth API
PUBLIC_MODRINTH_API_URL=https://api.modrinth.com
MODRINTH_API_RATE_LIMIT=300

# Docker
DOCKER_HOST=unix:///var/run/docker.sock
